<% include partials/header %>

    <div id="grid">
        <div id="sidebar">
            <h1 class="title">Cesar Axel</h1>
            <div id="project-scroll-area">
                <div id="projects">
                    <% projects.forEach((project)=>{%>
                        <div class="project"> <strong><%=project.name%></strong> <p><%=project.short%></p></div>
                    <%});%>

                </div>
                <div id="down-arrow">V</div>
            </div>
        </div>
        <div id="content">
            <h1><%=projects[0].name%></h1>
            <div id="img-placeholder">
            <img id="project-image" src="<%= projects[0].image%>">
            </div>
        </div>
        <div id="footer">
                <p><%=projects[0].description%></p>

        </div>
    </div>

<% include partials/footer%>